.header{
    display: flex;
    justify-content: space-between;
border:1px solid black;
}
.logo{
    width:200px;
}
.nav-items{
    margin-top: 10px;
}

.nav-items > ul {

    display: flex;
    font-size: 24px;
    list-style-type: none !important;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
.res-card{
    padding: 5px;
    width: 200px;
    height: 300px;
    border: 1px solid black;

}
.res-logo{
 
    width: 190px;
}
.search{
    padding: 10px;

}