.header{
    display: flex;
    justify-content: space-between;
border:1px solid black;
}
.logo{
    width:200px;
}
.nav-items{
    margin-top: 10px;
}

.nav-items > ul {

    display: flex;
    font-size: 24px;
    list-style-type: none !important;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
.res-card{
    margin: 5px;
    
    padding: 5px;
    width: 400px;
    
 

}
.res-card:hover{
    border:1px solid black;
    cursor: pointer;
}
.res-logo{
 
    width: 100%;
}
.search{
    padding: 10px;

}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter{
    margin: 5px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    
}
.shimmer-card{
    margin:5px;
    padding: 5px;
    width:400px;
    height: 400px;
    background-color:#f0f0f0;
}
.islogin-btn{
    padding: 0px 20px;
    cursor: pointer;
    margin-right: 10px;
    width:100px;

}
.filter{
    display: flex;
}
.filter-btn{
    cursor: pointer;
}

.user-card{
    padding: 10px;
    border: 1px solid black;

}